# Web Scraping Project
#### Scraped on E-commerce website [FLIPKART]
- Below is the process of how to webscrape the data from flipkart with the help of BeautifulSoup and regular expression

In [1]:
import pandas as pd
import bs4
from bs4 import BeautifulSoup as soup
import re
import requests
from urllib.request import urlopen as req #urllib is a package
# urlopen is function

In [2]:
my_url = "https://www.flipkart.com/search?q=samsung+mobiles&as=on&as-show=on&otracker=AS_Query_HistoryAutoSuggest_0_5&otracker1=AS_Query_HistoryAutoSuggest_0_5&as-pos=0&as-type=HISTORY&suggestionId=samsung+mobiles&requestId=646d2025-2533-420a-9d1a-1ff900629604%22&page=3"

    #url =  "https://www.flipkart.com/search?q=samsung+mobiles&as=on&as-show=on&otracker=AS_Query_HistoryAutoSuggest_0_3_na_na_na&otracker1=AS_Query_HistoryAutoSuggest_0_3_na_na_na&as-pos=0&as-type=HISTORY&suggestionId=samsung+mobiles&requestId=2f745bb9-260d-4fb0-9c36-afc2d5096850&page="+str(page)
    #r = requests.get(url)
    #page_html = soup(r.text, 'html.parser')
    #print(page_html)

In [3]:
load = req(my_url) #req helps for connnection and takes the website and loaded
page_html= load.read() #read the data
load.close()    # close the connection

In [4]:
page_soup = soup(page_html,'html.parser')   #large html file we use html.parser

In [5]:
containers = page_soup.findAll("div", { "class": "_3wU53n"})

In [6]:
#containers

In [7]:
price = page_soup.findAll("div",class_ ="_1vC4OE _2rQ-NK" )

In [8]:
#price

In [12]:
ram = page_soup.findAll("div",class_ = "_3ULzGw")

In [13]:
#ram

In [14]:
rom = page_soup.findAll("div",class_ = "_3ULzGw")

In [15]:
#rom

In [18]:
inches = page_soup.findAll("div",class_ = "_3ULzGw")

In [19]:
#inches

In [21]:
warrenty = page_soup.findAll("div",class_ = "_3ULzGw")
#warrenty

In [23]:
Product_Name =  []
Price = []
Ram = []
Rom = []
Inches = []
Processor = []
Warrenty = []
Rare_Camera = []
Front_Camera = []
 
    
for i in containers:
    data =  i.text
    Product_Name.append(data)
    
for i in price:
    data = i.text
    z=data.replace("â‚¹","")    
    p = z.replace(",","")
    Price.append(p)
      
    
for i in ram:
    data = i.text
    Ram.append(data[0])
    
   
    ##### ROM #####
    take = re.findall(r'(\d+) GB ROM',data)
    Rom.append(take)
    
    
    
########## INCHES ######
    inc = re.findall(r'(\d.\d+) inch',data)
    Inches.append(inc)    
    
    
 ####### Processor ###############
    pr = re.findall(r'(\d+) Processor',data)
    Processor.append(pr)
    
############ Warrenty #############
    wr = re.findall(r'(\d) Year',data)
    Warrenty.append(wr)
    
    
   
############## RARE _ CAMERA #####    
    RC = re.findall(r'(\d+)MP Rear Camera',data)
    Rare_Camera.append(RC)
           
################ Front _ CAMERA ############
    FC = re.findall(r'(\d+)MP Front Camera',data)
    Front_Camera.append(FC)

In [24]:
#Rom

In [25]:
df = pd.DataFrame()

In [26]:
df["Product_Name"] = Product_Name
df["Price"] = Price
df["Ram"] = Ram
df["Rom"] = Rom
df["Inches"] = Inches
df["Processor"] = Processor
df["Rare_Camera"] = Rare_Camera
df["Front_Camera"] = Front_Camera
df["Warrenty"] = Warrenty

In [28]:
df['Price'] = df['Price'].astype(int)

In [30]:
Rom=str(Rom)

In [31]:
Rom = Rom.replace(" []","0")

In [33]:
df["Ram"] = df["Ram"].astype(int)

In [35]:
a = Rom.split(',')
import re
Final= re.findall(r'\d+',str(a))

In [38]:
df["Ram"] = df["Ram"].replace("N","0")
df["Ram"] = df["Ram"].replace("E","0")

In [44]:
inc = str(Inches).replace('[]','["0.0"]')

In [45]:
a = re.findall(r'(\d.\d)',inc)     # inches

In [47]:
pro = str(Processor).replace('[]','["0"]')   # processor
#pro

In [48]:
i = re.findall(r'(\d+)',pro)     # inches
#i

Rare_Camera             object
Front_Camera            object
Warrenty                object
Accessories_warrenty

In [49]:
#Rare_Camera

In [50]:
rare = str(Rare_Camera).replace('[]','["0"]')
#rare

In [51]:
r = re.findall(r'(\d+)',rare)     # rare
#r

In [52]:
#Front_Camera

In [53]:
front = str(Front_Camera).replace('[]','["0"]')
#front

In [54]:
f = re.findall(r'(\d+)',front)     # front Camera
#f
#len(f)

In [55]:
#Warrenty

In [56]:
warre= str(Warrenty).replace('[]','["0"]')
#warre
#len(warre)

In [57]:
w = re.findall(r'(\d+)',warre)     # warrenty
#w

In [62]:
df= pd.DataFrame({'Product_Name':Product_Name,'Price':Price,'Ram':Ram,'Rom':Final,'Inches':a, 'Processor':i,'Rare_Camera':r,'Front_Camera':f,'Warrenty':w})
df

,Product_Name,Price,Ram,Rom,Inches,Processor,Rare_Camera,Front_Camera,Warrenty
0,"Samsung Galaxy J4 (Gold, 16 GB)",8590,2,16,5.5,7570,13,5,1
1,Samsung Guru GT,1410,1,0,1.5,0,0,0,1
2,"Samsung Galaxy J2 Core (Black, 8 GB)",6200,1,8,0.0,7570,8,5,1
3,"Samsung Galaxy J2 Core (Gold, 8 GB)",6190,1,8,0.0,7570,8,5,1
4,"Samsung Galaxy On6 (Blue, 64 GB)",11990,4,64,5.6,0,13,8,1
5,"Samsung Galaxy J6 (Blue, 32 GB)",10490,3,32,5.6,7870,13,8,1
6,Samsung Metro 313,2149,5,0,0.0,0,3,0,1
7,"Samsung Galaxy J7 Prime (Black, 16 GB)",18328,3,16,5.5,0,13,8,1
8,Samsung Metro 313,2050,4,0,2.0,0,3,0,1
9,Samsung Guru FM Plus,1580,3,0,1.5,0,0,0,1
10,"Samsung Galaxy J2 2018 (Black, 16 GB)",6799,2,16,0.0,425,8,5,1
11,"Samsung Galaxy J5 Prime (Gold, 16 GB)",14500,2,16,0.0,0,13,5,1
12,"Samsung Galaxy J2 Core (Blue, 8 GB)",6190,1,8,0.0,7570,8,5,1
13,"Samsung Galaxy J8 (Gold, 64 GB)",15499,4,64,0.0,450,0,16,1
14,Samsung B351E/Metro 350,2990,3,0,2.4,0,2,0,1
15,"Samsung Galaxy J8 (Blue, 64 GB)",15499,4,64,0.0,450,0,16,1
16,"Samsung Galaxy On8 (Black, 64 GB)",16990,4,64,0.0,450,0,16,1
17,Samsung Metro 313,2340,2,0,0.0,0,3,0,1
18,"Samsung Galaxy J2 (White, 8 GB)",6799,1,8,4.7,0,5,2,1
19,"Samsung Galaxy J2-2017 (Absolute black, 8 GB)",6000,1,8,4.7,0,5,2,1
20,"Samsung Galaxy J7 Prime 2 (Black, 32 GB)",14990,3,32,5.5,0,13,13,1
21,"Samsung A6 (Gold, 32 GB)",19999,4,32,5.6,0,16,0,0
22,"Samsung Galaxy J5 Prime (Black, 32 GB)",13500,3,32,0.0,0,13,5,1
23,Samsung Metro 350,3007,4,0,2.2,0,2,0,1

# all pages
urls = []
for i in range (1,):
    a = list(page)  # or url # url defined name 
    a[-1] = str(i)
    urls.append(''.join(a))

In [63]:
#df.to_csv('B:/work/mobile4.csv',index=False)